html.live-preview-active {
  overflow: hidden;
}
.live-preview-iframe-container {
  position: fixed;
  top: 0;
  bottom: 0;
  background: #fff;
}
.live-preview-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 99;
  background-color: #000;
  -moz-transition: opacity 0.3s linear 0s;
  -webkit-transition: opacity 0.3s linear 0s;
  -o-transition: opacity 0.3s linear 0s;
  transition: opacity 0.3s linear 0s;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.live-preview-overlay.open {
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  -webkit-opacity: 0.75;
  opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
  filter: alpha(opacity=75);
}
body.overlay .live-preview-overlay.open {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.live-preview-iframe {
  width: 100%;
  height: 100%;
}
.live-preview-iframe-container {
  z-index: 100;
  right: -100%;
  width: 60%;
  -moz-transition: right 0.5s ease-in-out 0s;
  -webkit-transition: right 0.5s ease-in-out 0s;
  -o-transition: right 0.5s ease-in-out 0s;
  transition: right 0.5s ease-in-out 0s;
}
.live-preview-iframe-container.open {
  right: 0;
}
.node-form {
  transform: scale(1);
}
.node-form > div {
  -moz-transition: all 0.6s ease 0.3s ease;
  -webkit-transition: all 0.6s ease 0.3s ease;
  -o-transition: all 0.6s ease 0.3s ease;
  transition: all 0.6s ease 0.3s ease;
}
.node-form #edit-live-preview {
  display: none;
}
.node-form .live-preview-open {
  display: none;
}
.node-form.live-preview-processed #edit-preview {
  display: none;
}
.node-form.live-preview-processed .live-preview-open {
  display: inline-block;
}
.node-form:before {
  position: fixed;
  display: block;
  content: '';
  background: #fff;
  width: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  -moz-transition: width 0.5s ease 0.2s;
  -webkit-transition: width 0.5s ease 0.2s;
  -o-transition: width 0.5s ease 0.2s;
  transition: width 0.5s ease 0.2s;
}
.node-form.live-preview-form-layout {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 102;
  width: 40%;
  overflow: auto;
  background: #fff;
  padding: 0;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -moz-transition: opacity 0.5s ease 0s, left 0.6s ease 0s;
  /* Firefox 4 */

  -webkit-transition: opacity 0.5s ease 0s, left 0.6s ease 0s;
  /* Safari and Chrome */

  -o-transition: opacity 0.5s ease 0s, left 0.6s ease 0s;
  /* Opera */

  transition: opacity 0.5s ease 0s, left 0.6s ease 0s;
}
.node-form.live-preview-form-layout > div {
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  padding: 0 15px;
}
.node-form.live-preview-form-layout > div.live-preview-header {
  padding: 12px 5px 12px 15px;
}
.node-form.live-preview-form-layout > div .live-preview-visible {
  display: block!important;
}
.node-form.live-preview-form-layout > div:not(.live-preview-header) .live-preview-hidden-trail {
  display: none;
}
.node-form.live-preview-form-layout #edit-live-preview {
  display: block;
}
.node-form.live-preview-form-layout.opening {
  width: 100%;
  background: transparent;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.node-form.live-preview-form-layout.opening:before {
  width: 40%;
}
.node-form.live-preview-form-layout.opening > div {
  -moz-transition: all 0.1s ease 0.1s;
  -webkit-transition: all 0.1s ease 0.1s;
  -o-transition: all 0.1s ease 0.1s;
  transition: all 0.1s ease 0.1s;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.node-form.live-preview-form-layout.closing {
  overflow: hidden;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: live-preview-form-closing;
  animation-name: live-preview-form-closing;
}
.live-preview-header {
  background-image: linear-gradient(#ffffff, #f9fafa);
  -webkit-box-shadow: 0 2px 1px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 1px -2px rgba(0, 0, 0, 0.2);
}
.live-preview-header h2 {
  margin: 0;
  line-height: 30px;
}
.live-preview-header .button {
  float: right;
  margin: 0 5px;
}
body.admin-menu .node-form.live-preview-form-layout,
body.admin-menu .live-preview-iframe-container {
  top: 29px;
}
body.toolbar .node-form.live-preview-form-layout,
body.toolbar .live-preview-iframe-container {
  top: 2.2em;
}
body.toolbar-drawer .node-form.live-preview-form-layout,
body.toolbar-drawer .live-preview-iframe-container {
  top: 5.3em;
}
.live-preview-node-wrapper ins,
.live-preview-node-wrapper ins > * {
  background-color: #f2fae3;
  color: #659f13;
  text-decoration: none;
}
.live-preview-node-wrapper del,
.live-preview-node-wrapper del > * {
  background-color: #fff1f0;
  color: #d85030;
  text-decoration: line-through;
}
@keyframes live-preview-form-closing {
  0% {
    width: 40%;
    opacity: 1;
    transform: scale(1);
  }
  50% {
    width: 100%;
    opacity: 1;
    transform: scale(1);
  }
  80% {
    width: 100%;
    opacity: 1;
    transform: scale(1);
  }
  90% {
    width: 100%;
    opacity: 0.7;
    transform: scale(0.9);
  }
  100% {
    width: 100%;
    opacity: 0;
    transform: scale(1.3);
  }
}
@-webkit-keyframes live-preview-form-closing {
  0% {
    width: 40%;
    opacity: 1;
    -webkit-transform: scale(1);
  }
  50% {
    width: 100%;
    opacity: 1;
    -webkit-transform: scale(1);
  }
  80% {
    width: 100%;
    opacity: 1;
    -webkit-transform: scale(1);
  }
  90% {
    width: 100%;
    opacity: 0.7;
    -webkit-transform: scale(0.9);
  }
  100% {
    width: 100%;
    opacity: 0;
    -webkit-transform: scale(1.3);
  }
}
