html.live-preview-active {
  overflow: hidden;
}

.live-preview-iframe-container {
  position: fixed;
  top: 0;
  bottom: 0;
  background: #fff;
}

.live-preview-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 99;
  background-color: #000;

  .transition(opacity, 0.3s, 0s, linear);
  .opacity(0);

  &.open {
    .opacity(0.75);

    body.overlay & {
      .opacity(0);
    }
  }
}

.live-preview-iframe {
  width: 100%;
  height: 100%;
}

.live-preview-iframe-container {
  z-index: 100;
  right: -100%;
  width: 60%;
  .transition(right, 0.5s, 0s, ease-in-out);

  &.open {
    right: 0;
  }
}

.node-form {
  transform: scale(1);
  > div {
    .transition(all, 0.6s, 0.3s ease);
  }

  #edit-live-preview {
    display: none;
  }

  .live-preview-open {
    display: none;
  }
  &.live-preview-processed {
    #edit-preview {
      display: none;
    }
    .live-preview-open {
      display: inline-block;
    }
  }

  &:before {
    position: fixed;
    display: block;
    content: '';
    background: #fff;
    width: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 101;

    .transition(width, 0.5s, 0.2s, ease);
  }

  &.live-preview-form-layout {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 102;
    width: 40%;
    overflow: auto;
    background: #fff;
    padding: 0;
    .opacity(1);
    .transitionstring(opacity 0.5s ease 0s, left 0.6s ease 0s;);

    > div {
      .transition(all, 0.4s, 0s, ease);
      padding: 0 15px;

      &.live-preview-header {
        padding: 12px 5px 12px 15px;
      }

      .live-preview-visible {
        display: block!important;
      }

      &:not(.live-preview-header) .live-preview-hidden-trail {
        display: none;
      }
    }

    #edit-live-preview {
      display: block;
    }


    &.opening {
      width: 100%;
      background: transparent;
      .opacity(1);

      &:before {
        width: 40%;
      }

      > div {
        .transition(all, 0.1s);
        .opacity(0);
      }
    }

    &.closing {
      overflow: hidden;
      -webkit-animation-duration: 0.7s;
      animation-duration: 0.7s;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: live-preview-form-closing;
      animation-name: live-preview-form-closing;
    }
  }
}



.live-preview-header {
  background-image: linear-gradient(white, #f9fafa);
  .box-shadow(0 2px 1px -2px rgba(0, 0, 0, 0.2););

  h2 {
    margin: 0;
    line-height: 30px;
  }
  .button {
    float: right;
    margin: 0 5px;
  }
}

.node-form.live-preview-form-layout,
.live-preview-iframe-container {
  body.admin-menu & {
    top: 29px;
  }
  body.toolbar & {
    top: 2.2em;
  }
  body.toolbar-drawer & {
    top: 5.3em;
  }
}

.live-preview-node-wrapper ins,
.live-preview-node-wrapper ins > * {
  background-color: #f2fae3;
  color: #659f13;
  text-decoration: none;
}

.live-preview-node-wrapper del,
.live-preview-node-wrapper del > * {
  background-color: #fff1f0;
  color: #d85030;
  text-decoration: line-through;
}

@keyframes live-preview-form-closing {
  0% {
    width: 40%;
    opacity: 1;
    transform: scale(1);
  }
  50% {
    width: 100%;
    opacity: 1;
    transform: scale(1);
  }
  80% {
    width: 100%;
    opacity: 1;
    transform: scale(1);
  }
  90% {
    width: 100%;
    opacity: 0.7;
    transform: scale(0.9);
  }
  100% {
    width: 100%;
    opacity: 0;
    transform: scale(1.3);
  }
}

@-webkit-keyframes live-preview-form-closing {
  0% {
    width: 40%;
    opacity: 1;
    -webkit-transform: scale(1);
  }
  50% {
    width: 100%;
    opacity: 1;
    -webkit-transform: scale(1);
  }
  80% {
    width: 100%;
    opacity: 1;
    -webkit-transform: scale(1);
  }
  90% {
    width: 100%;
    opacity: 0.7;
    -webkit-transform: scale(0.9);
  }
  100% {
    width: 100%;
    opacity: 0;
    -webkit-transform: scale(1.3);
  }
}


// Mixins
.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}
.scale(@ratio:1.5){
  .transform(scale(@ratio));
}
.transitionstring(@transString: 0) when not (@transString = 0) {
  -moz-transition:    @transString; /* Firefox 4 */
  -webkit-transition: @transString; /* Safari and Chrome */
  -o-transition:      @transString; /* Opera */
  transition:         @transString;
}
.transition(@property, @duration: 0.3s, @delay: 0.1s, @function: ease) {
  -moz-transition: @property @duration @function @delay;
  -webkit-transition: @property @duration @function @delay;
  -o-transition: @property @duration @function @delay;
  transition: @property @duration @function @delay;
}
.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -o-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}
.box-shadow(@transString: 0) when not (@transString = 0) {
  -webkit-box-shadow: @transString;
  -moz-box-shadow: @transString;
  box-shadow: @transString;
}